.env
.python-version
pyproject.toml
uv.lock
.gitignore
/.idea/49595-HW1.iml
/src/llama_model/debater.q4_k_m.gguf
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/src/results.csv
/.idea/vcs.xml
